{% include 'receitas/partials/head.html' %}

<body>
    {% include 'receitas/partials/header.html' %}
    {% include 'receitas/partials/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
            {% include 'receitas/partials/receita.html' %}
        </div>
    </main>

    {% include 'receitas/partials/footer.html' %}
</body>

</html>
